<h1>Entries</h1>
<p><%=link_to 'New_Post', new_entry_path %></p>
<% @entries.each do |entry| %>
	<h2> <%= entry.title %> </h2>
	<p><%=entry.body%></p>
	<%=link_to 'Show entry', entry_path(entry)%>
	<%=link_to 'Edit', edit_entry_path(entry)%>
<% end %>